version: 2
updates:
  # root
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - " dependabot "
    open-pull-requests-limit: 1
    pull-request-branch-name:
      separator: "-"
    ignore: # ignore updates for react-native deps, think about updating, once react-native is updated
      - dependency-name: "@babel/core"
      - dependency-name: "@babel/runtime"
      - dependency-name: "@react-native-community/eslint-config"
      - dependency-name: "eslint"
      - dependency-name: "jest"
      - dependency-name: "metro-react-native-babel-preset"
      - dependency-name: "react-test-renderer"
      - dependency-name: "react"
      - dependency-name: "react-native"
      - dependency-name: "jest-cli"
  # example
  - package-ecosystem: "npm"
    directory: "/example"
    schedule:
      interval: "monthly"
    labels:
      - " dependabot "
    open-pull-requests-limit: 1
    pull-request-branch-name:
      separator: "-"
  # gh-actions workflow files
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    pull-request-branch-name:
      separator: "-"
    labels:
      - " dependabot "
