name: Android Build (Publish)
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.4.0
        with:
          node-version: ${{ matrix.node-version }}

      - run: yarn install --network-timeout 1000000
      - run: yarn run unittest
      - run: yarn run generate

      - name: set up JDK zulu 11
        uses: actions/setup-java@v2.3.0
        with:
          distribution: "zulu"
          java-version: "11"

      - run: echo $MAPBOX_ACCESS_TOKEN > ./accesstoken
        working-directory: example
        env:
          MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}

      - run: yarn install --network-timeout 1000000
        working-directory: example

      - run: ./gradlew assemble
        working-directory: example/android

  publish:
    needs: test
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.4.0
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/
      - run: npm install --force && npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
