name: Android Build

on:
  workflow_call:
    inputs:
      NVMRC:
        required: true
        type: string
    secrets:
      MAPBOX_ACCESS_TOKEN:
        required: true

jobs:
  build_example:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup node ${{ inputs.NVMRC }}
        uses: actions/setup-node@v2.5.0
        with:
          node-version: ${{ inputs.NVMRC }}

      - name: Setup JDK zulu 11
        uses: actions/setup-java@v2.4.0
        with:
          distribution: 'zulu'
          java-version: '11'

      - run: echo $MAPBOX_ACCESS_TOKEN > ./accesstoken
        working-directory: example
        env:
          MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}

      - run: yarn install --network-timeout 1000000
        working-directory: example

      - run: ./gradlew assemble
        working-directory: example/android
