name: CI
on: [push, pull_request]

concurrency: 
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint_test_generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Read .nvmrc
        run: echo ::set-output name=NVMRC::$(cat .nvmrc)
        id: nvm

      - name: Setup node ${{ steps.nvm.outputs.NVMRC }}
        uses: actions/setup-node@v2.5.0
        with:
          node-version: ${{ steps.nvm.outputs.NVMRC }}

      - name: Install
        run: yarn install --network-timeout 1000000

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn unittest

      - name: Generate
        run: yarn generate

    outputs:
      NVMRC: ${{ steps.nvm.outputs.NVMRC }}

  has_mapbox_token:
    runs-on: ubuntu-latest
    outputs:
        has_mapbox_token: ${{ steps.has_mapbox_token.outputs.defined }}
    steps:
        - id: has_mapbox_token
          env:
              MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}
          if: "${{ env.MAPBOX_ACCESS_TOKEN != '' }}"
          run: echo "::set-output name=defined::true"

  call_android_workflow:
    name: "Android/Mapbox"
    needs: [lint_test_generate,has_mapbox_token]
    uses: ./.github/workflows/android-actions.yml
    with:
      NVMRC: ${{ needs.lint_test_generate.outputs.NVMRC }}
      MAP_IMPL: mapbox
    if: needs.has_mapbox_token.outputs.has_mapbox_token == 'true'
    secrets:
      MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}
      MAPBOX_DOWNLOAD_TOKEN: ${{ secrets.MAPBOX_DOWNLOAD_TOKEN }}

  call_maplibre_android_workflow:
    name: "Android/MapLibre"
    needs: lint_test_generate
    uses: ./.github/workflows/android-actions.yml
    with:
      NVMRC: ${{ needs.lint_test_generate.outputs.NVMRC }}
      MAP_IMPL: maplibre
    secrets:
      MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}
      MAPBOX_DOWNLOAD_TOKEN: ${{ secrets.MAPBOX_DOWNLOAD_TOKEN }}

  call_ios_workflow:
    name: "iOS/Mapbox"
    needs: [lint_test_generate,has_mapbox_token]
    uses: ./.github/workflows/ios-actions.yml
    if: needs.has_mapbox_token.outputs.has_mapbox_token == 'true'
    with:
      NVMRC: ${{ needs.lint_test_generate.outputs.NVMRC }}
      MAP_IMPL: mapbox
    secrets:
      MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}
      MAPBOX_DOWNLOAD_TOKEN: ${{ secrets.MAPBOX_DOWNLOAD_TOKEN }}

  call_maplibre_ios_workflow:
    name: "iOS/MapLibre"
    needs: lint_test_generate
    uses: ./.github/workflows/ios-actions.yml
    with:
      NVMRC: ${{ needs.lint_test_generate.outputs.NVMRC }}
      MAP_IMPL: maplibre
    secrets:
      MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}
      MAPBOX_DOWNLOAD_TOKEN: ${{ secrets.MAPBOX_DOWNLOAD_TOKEN }}

  publish:
    if: startsWith(github.ref, 'refs/tags/') && (github.event_name == 'push')
    needs: [lint_test_generate, call_android_workflow, call_ios_workflow]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup node ${{ steps.nvm.outputs.NVMRC }}
        uses: actions/setup-node@v2.5.0
        with:
          node-version: ${{ needs.lint_test_generate.outputs.NVMRC }}
          registry-url: https://registry.npmjs.org/

      - name: Install and Publish
        run: npm install --force && npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
